html{
  background: #fff ;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 15%;
}

header{
  margin: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#000;
}

header h1, h2{
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

header h1{
  font-family: Lobster;
  font-size: 70px;
}

header h2{
  font-family: Yellowtail;
  font-size: 55px;
}

body{
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  color:#000;
  list-style-position: inside;
  justify-content: center;
}

hr{
  display: flex;
  border: 0;
  height: 1px;
  background-color:white;
}

header nav{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.group{
  display: flex;
}
.item{
  margin: 3px;
  flex: 1;
}

.item-double{
  flex: 2;
}

.group img{
  width: 100%;
}

form input{
  margin: 10px 15x;
}

form input[type=textarea] {
  width: 70%;
  height: 250px;
}

form textarea {
  width: 100%;
}

@media all and (max-width: 600px){

 header h1{
   font-size: 40px;
 }

 header h2{
  font-size: 30px;
}
  .group{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }

} 

a:link {color:#000;}
a:visited {color: #20005c;}
a:hover {color: #ff008c;}
a:active {color: #ca9b00;}
