body{
  display: flex;
  flex-direction: column;
  background: #DEB5D6 ;
  margin: 20px;
  padding: 8px;
  font-family: oswald;
}

body ul{
  padding-inline-start: 30px;
}

body ul li{
  padding: 3px
}

.flexGroup{
  display: flex;
  justify-content: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #FCFCF7;
  width: 90%;
}

header{
  margin-top: 5px;
  align-items: center;
  text-align: center;
  color:#000;
}


header nav ul{
  margin: 25px;
  padding-inline-start: 0;
  list-style: none;
  font-family: oswald;
}

header h1{
  font-family: Lobster;
  font-size: 40px;
  letter-spacing: .03em;
}

header h2{
  font-family: Yellowtail;
  font-size: 25px;
  letter-spacing: .03em;
}

.projectTitles{
  font-style: oblique;
  font-weight: 700;
}

#button{
  margin: 15px;
  padding: 5px 10px;
  background-color: #B1B1F1;
  color: #262040;
  border-radius: 15px;
}

#letsChat{
  color: #382E5C;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

form{
  padding: 5px;
  margin: 5px;
  text-align: right;
}

#formMessage{
  margin: 5px;
  height: 60px;
}


@media all and (min-width: 600px){

  body{
    margin-left: 35px;
    margin-right: 35px;
  }

  header{
    margin-top: 35px;
  }

  header h1{
    font-size: 75px;
  }

  header h2{
    font-size: 70px;
  }

  h3{
    font-size: 30px;
    text-align: center;
  }

  #letsChat{
    visibility: hidden;
  }

  header nav ul li{
    font-size: 20px;
    display: inline;
    flex-direction: row;
  }

  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }

  .item-double{
    flex: 2;
    margin: 10px;
  }

#email{
  width: 329px;
}

#formMessage{
  margin: 5px;
  height: 300px;
  width: 100%;
}

#socialMedia{
  text-align: center;
  list-style: none;
  padding: 10px;
  font-size: 25px;
}

}

a:link {color:#A3398C;}
a:visited {color: #42376D;}
a:hover {color: #6E9887;}
a:active {color: #FDFCDD;}